### Node Modules ###
node_modules

### Build Output ###
dist

### Logs ###
*.log

### Environment Variables ###
*.env

### Git ###
.git
.gitignore

### Docker Configuration ###
Dockerfile
docker-compose.yml